html {
  font-size: 16px;
}

body {
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.main-header {
  font-size: 0;
  text-align: center;

  border-bottom: solid 1px #c6c6c6;
}

.main-header__logo {
  width: 138px;
  height: 10px;
  margin: 1rem auto;
  object-fit: contain;
}

@media (min-width: 48rem) {
  .main-header__logo {
    margin: 1.5rem auto;
  }
}

.card__title {
  margin: 1rem 0;

  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  font-family: Lora;
  color: #111111;
}

.card__info {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.card__price {
  margin: 0;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #111111;
}

.card__code { 
  margin: 0;

  font-size: 0.75rem;
  line-height: 1.6666666667;
  color: #171717;
}

.divine-line {
  margin: 0 -0.5rem;

  border: none;
  border-bottom: 1px solid #c6c6c6;
}

@media (min-width: 48rem) {
  .card__title {
    margin: 1.5rem 0;

    font-size: 1.5rem;
  }

  .card__info { 
    margin: 0 0 1em;
  }

  .card__price {
    margin: 0;
  }

  .divine-line {
    border-bottom: none;
  }
}

.slider {
  display: flex;
  margin: 0 -0.5rem;
  overflow-x: scroll;
}

@media (min-width: 48rem) {
  .slider {
    margin: 0;
  }

  .slider__slide {
    flex: none;
    width: 432px;
    height: 576px;
  }
}

.colour {
  margin: 0;
  padding: 0 0 1rem;

  border-bottom: solid 1px #c6c6c6;
}

.colour__current {
  font-size: 0.75rem;
  line-height: 1.16666667;
  color: #171717;
}

.colour__options {
  display: flex;
  margin: 1.0625rem 0 1rem;
}

.colour__option {
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;

  font-size: 0;

  border: none;
  border-radius: 50%;
}

.colour__option:last-child {
  margin-right: 0;
}

.colour__option--active {
  border: solid 1px #232122;
}

.colour__option--black {
  background-color: #232122;
}

.colour__option--brown {
  background-color: #cfa880;
}

@media (min-width: 48rem) {
  .colour {
    margin: 1rem 0;
  }
}

.card__btn {
  box-sizing: border-box;
  width: 100%;
  margin: 2rem 0 1rem;
  padding: 1rem 0;

  font-size: 0.75rem;
  line-height: 1.1666666667;
  font-family: Raleway;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #171717;
  border: solid 1px #171717;
  border-radius: 2px;
}

.card__btn--black {
  margin: 0 0 1.375rem;

  color: #171717;

  background-color: #ffffff;
  border: solid 1px #999999;
  border-radius: 2px;
}

.card__help-btn {
  margin: 0 0 3rem;
  padding: 0;

  font-size: 0.75rem;
  line-height: 1.3333333333;
  font-family: Raleway;
  color: #171717;
  text-transform: uppercase;

  background-color: #ffffff;
  border: none;
}

@media (min-width: 48rem) {
  .card__btn {
    margin: 1rem 0 0;
  }

  .card__btn--black {
    margin: 1rem 0 1.375rem;
  }
}

.detail {
  padding: 2rem 0;
}

.detail__btn {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: Raleway;
  text-align: left;

  background: inherit;
  border: none;
}

.detail__header {
  position: relative;

  margin: 0;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: #171717;
  text-transform: uppercase;
}

.detail__header::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;

  width: 0.625rem;
  height: 1.25rem;

  background-image: url(../img/triangle.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.detail--active .detail__header::after {
  transform: rotate(-180deg);
}

.detail__descr {
  margin: 2rem 0 0;

  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-family: Lora;
  color: #171717;
}

.detail__descr p {
  margin: 0;
}

.detail__descr ul {
  margin: 1.5rem 0 0;
  padding: 0;

  list-style: none;
}

@media (min-width: 768px) {
  .detail {
    padding: 1.5rem 0;
  }

  .detail__descr {
    margin: 1rem 0 0;
  }

  .detail__header::after {
    content: none;
  }

  .detail--shipping {
    display: none;
  }
}

.delivery {
  display: none;
}

@media (min-width: 768px) {
  .delivery {
    display: block;
  }

  .delivery__img {
    display: block;
    width: 100%;
  }

  .delivery__header {
    margin: 0 0 1rem;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25;
    color: #171717;
    text-transform: uppercase;
  }

  .delivery__message {
    margin: 0 0 1.5rem;
  }

  .delivery__message:last-child {
    margin: 0;
  }

  .delivery__message-header {
    margin: 0 0 0.25rem;

    font-size: 0.75rem;
    line-height: 1.1666666667;
  }

  .delivery__message-text {
    margin: 0;

    font-size: 0.75rem;
    line-height: 1.333333333;
  }
}

.recommendations {
  padding: 3rem 0 0;
}

.recommendations__header {
  display: inline-block;
  margin: 0 0 1.5rem;
  padding-bottom: 0.5rem;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: #171717;
  text-transform: uppercase;

  border-bottom: solid 1px #171717;
}

.recommendations__link {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem;

  color: #111111;
  text-decoration: none;
}

.recommendations__item-image {
  max-width: 100%;
  height: auto;
}

.recommendations__item-title {
  margin: 0.5rem 0;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  font-family: Lora;
  color: #111111;
}

.recommendations__item-price {
  margin: 0;

  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: #999999;
}

@media (min-width: 768px) {
  .recommendations {
    padding: 1.5rem 0 2rem;
  }

  .recommendations__header {
    margin: 0 0 1rem;
  }
}

.offers {
  margin: 0 0 4rem;
  padding: 1rem 0 0;
}

.offers__header {
  display: inline-block;
  margin: 0 0 1.5rem;
  padding-bottom: 0.5rem;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: #171717;
  text-transform: uppercase;

  border-bottom: solid 1px #171717;
}

.offers__list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.offers__item {
  margin: 0 0 1rem;
}

.offers__link {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  font-family: Lora;
  color: #171717;
  text-decoration: none;
  font-style: italic;
}

@media (min-width: 768px) {
  .offers {
    display: none;
  }
}

.main-footer {
  padding: 2rem 0;

  font-size: 0.75rem;
  line-height: 1.1666666667;

  background-color: #f3f3f3;
}

.main-footer__btn {
  margin: 0;
  padding: 0;

  line-height: 1.333333333;
  font-family: Raleway;
  color: #999999;

  background: inherit;
  border: 0;
}

.main-footer__btn--country {
  margin: 0 1.3125rem 1rem 0;
}

.main-footer__btn--language {
  margin: 0 0 1.5rem;
}

.main-footer__contact {
  text-align: center;
  color: #171717;
  text-decoration: none;
}

.main-footer__help {
  margin: 0 0 1rem;

  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25;
}

.main-footer__find-out {
  margin: 0;

  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-family: Lora;
  font-style: italic;
}

.footer-menu {
  display: none;
}

@media (min-width: 768px) {
  .main-footer {
    padding: 2rem 0;
  }

  .main-footer__btn--country {
    margin-bottom: 0;
    margin-left: 0;
  }

  .main-footer__btn--language {
    margin-bottom: 0;
  }

  .main-footer__contact {
    display: none;
  }

  .footer-menu {
    display: block;
    margin-bottom: 1.5rem;
  }

  .footer-menu__nav {
    margin-bottom: 0.5rem;
  }

  .footer-menu__header {
    margin: 0 0 1rem;

    font-size: 0.75rem;
    text-transform: uppercase;
  }

  .footer-menu__link {
    display: block;
    margin: 0 0 0.75rem;

    font-size: 0.75rem;
    line-height: 1.33333333;
    color: #999999;
    text-decoration: none;
  }

  .footer-menu__link:last-child {
    margin: 0;
  }
}

.delivery__header,
.recommendations__header,
.recommendations__item-title,
.offers__header {
  line-height: 19px;
}