html {
  font-size: 16px;
}

body {
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.main-header {
  font-size: 0;
  text-align: center;

  border-bottom: solid 1px #c6c6c6;
}

.main-header__logo {
  width: 138px;
  height: 10px;
  margin: 1rem auto;
  object-fit: contain;
}

@media (min-width: 48rem) {
  .main-header__logo {
    margin: 1.5rem auto;
  }
}

.card {
  border-bottom: solid 1px #c6c6c6;
}

.card__title {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 1rem;

  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  font-family: Lora;
  color: #111111;
}

.card__info {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.card__price {
  margin: 0;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #111111;
}

.card__code { 
  margin: 0;

  font-size: 0.75rem;
  line-height: 1.6666666667;
  color: #171717;
}

@media (min-width: 48rem) {
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-bottom: none;
  }

  .card__title {
    padding: 1.5rem 0.5rem;

    font-size: 1.5rem;
  }

  .card__descr {
    width: 320px;
  }

  .card__info { 
    margin: 0 0.5rem 1em;
  }

  .card__price {
    margin: 0;
  }
}

.slider {
  display: flex;
  overflow-x: scroll;
}

@media (min-width: 48rem) {
  .slider {
    margin: 0 0.5rem;
  }

  .slider__slide {
    width: 432px;
    height: 576px;
  }

  .slider__slide:not(:first-child) {
    display: none;
  }
}

.colour {
  margin: 0 1rem;
  padding: 0 0 1rem;

  border-bottom: solid 1px #c6c6c6;
}

.colour__current {
  font-size: 0.75rem;
  line-height: 1.16666667;
  color: #171717;
}

.colour__options {
  display: flex;
  margin: 1.0625rem 0 1rem;
}

.colour__option {
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;

  font-size: 0;

  border: none;
  border-radius: 50%;
}

.colour__option:last-child {
  margin-right: 0;
}

.colour__option--active {
  border: solid 1px #232122;
}

.colour__option--black {
  background-color: #232122;
}

.colour__option--brown {
  background-color: #cfa880;
}

@media (min-width: 48rem) {
  .colour {
    margin: 1rem 0.5rem 1em;
  }
}

.select-size {
  box-sizing: border-box;
  width: calc(100% - 2rem);
  margin: 2rem 1rem 1rem;
  padding: 1rem 0;

  font-size: 0.75rem;
  line-height: 1.1666666667;
  font-family: Raleway;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #171717;
  border: solid 1px #171717;
  border-radius: 2px;
}

.find-in-store {
  box-sizing: border-box;
  width: calc(100% - 2rem);
  margin: 0 1rem 1.3125rem;
  padding: 1rem 0;

  font-size: 0.75rem;
  line-height: 1.1666666667;
  font-family: Raleway;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
  border: solid 1px #999999;
  border-radius: 2px;
}

.need-help {
  margin: 0 1rem 3rem;
  padding: 0;

  font-size: 0.75rem;
  line-height: 1.3333333333;
  font-family: Raleway;
  color: #171717;
  text-transform: uppercase;

  background-color: #ffffff;
  border: none;
}

@media (min-width: 48rem) {
  .select-size {
    width: calc(100% - 1rem);
    margin: 1rem 0.5rem;
  }

  .find-in-store {
    width: calc(100% - 1rem);
    margin: 0 0.5rem 1.375rem;
  }

  .need-help {
    margin: 0 0.5rem 3rem;
  }
}

.detail {
  padding: 2rem 1rem;

  border-bottom: solid 1px #c6c6c6;
}

.detail__header {
  position: relative;

  margin: 0;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: #171717;
  text-transform: uppercase;
}

.detail__header::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;

  width: 0.625rem;
  height: 1.25rem;

  background-image: url(../img/triangle.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.detail--active .detail__header::after {
  transform: rotate(-180deg);
}

.detail__descr {
  margin: 2rem 0 0;

  font-size: 0.875rem;
  line-height: 1.7142857143;
  font-family: Lora;
  color: #171717;
}

.detail__descr p {
  margin: 0;
}

.detail__descr ul {
  margin: 1.5rem 0 0;
  padding: 0;

  list-style: none;
}

@media (min-width: 768px) {
  .detail {
    padding: 1.5rem 0.5rem;

    border-bottom: none;
  }

  .detail__descr {
    margin: 1rem 0 0;
  }

  .detail__header::after {
    content: none;
  }

  .detail--shipping {
    display: none;
  }
}

.delivery {
  display: none;
}

@media (min-width: 768px) {
  .delivery {
    display: flex;
    justify-content: space-between;
  }

  .delivery__img {
    width: 432px;
    height: 324px;
    margin: 0 0.5rem;
  }

  .delivery__info {
    box-sizing: border-box;
    width: 320px;
    padding: 0 0.5rem;
  }

  .delivery__header {
    margin: 0 0 1rem;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25;
    color: #171717;
    text-transform: uppercase;
  }

  .delivery__list {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 0;
  }

  .delivery__item {
    margin: 0 0 1.5rem;
  }

  .delivery__item:last-child {
    margin: 0;
  }

  .delivery__item-header {
    margin: 0 0 0.25rem;

    font-size: 0.75rem;
    line-height: 1.1666666667;
  }

  .delivery__item-text {
    margin: 0;

    font-size: 0.75rem;
    line-height: 1.333333333;
  }
}

.recommendations {
  padding: 3rem 1rem 0;
}

.recommendations__header {
  display: inline-block;
  margin: 0 0 1.5rem;
  padding-bottom: 0.5rem;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: #171717;
  text-transform: uppercase;

  border-bottom: solid 1px #171717;
}

.recommendations__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.recommendations__item {
  width: 130px;
  margin: 0 0 2rem;
}

.recommendations__link {
  display: flex;
  flex-direction: column;

  color: #111111;
  text-decoration: none;
}

.recommendations__item-image {
  width: 130px;
  height: 174px;
}

.recommendations__item-title {
  margin: 0.5rem 0;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  font-family: Lora;
  color: #111111;
}

.recommendations__item-price {
  margin: 0;

  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: #999999;
}

@media (min-width: 768px) {
  .recommendations {
    padding: 1.5rem 0.5rem 2rem;
  }

  .recommendations__header {
    margin: 0 0 1rem;
  }

  .recommendations__item {
    width: 176px;
  }

  .recommendations__item-image {
    width: 175px;
    height: 234px;
  }
}

.more {
  margin: 0 0 4rem;
  padding: 1rem 1rem 0;
}

.more__header {
  display: inline-block;
  margin: 0 0 1.5rem;
  padding-bottom: 0.5rem;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: #171717;
  text-transform: uppercase;

  border-bottom: solid 1px #171717;
}

.more__list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.more__item {
  margin: 0 0 1rem;
}

.more__link {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  font-family: Lora;
  color: #171717;
  text-decoration: none;
  font-style: italic;
}

@media (min-width: 768px) {
  .more {
    display: none;
  }
}

.main-footer {
  padding: 2rem 1rem;

  font-size: 0.75rem;
  line-height: 1.1666666667;

  background-color: #f3f3f3;
}

.main-footer__country {
  margin: 0 1.3125rem 1rem 0;
  padding: 0;

  line-height: 1.333333333;
  font-family: Raleway;
  color: #999999;

  background: inherit;
  border: 0;
}

.main-footer__language {
  margin: 0 0 1.5rem;
  padding: 0;

  line-height: 1.333333333;
  font-family: Raleway;
  color: #999999;

  background: inherit;
  border: 0;
}

.main-footer__contact {
  text-align: center;
  color: #171717;
  text-decoration: none;
}

.main-footer__help {
  margin: 0 0 1rem;

  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25;
}

.main-footer__find-out {
  margin: 0;

  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-family: Lora;
  font-style: italic;
}

.footer-menu {
  display: none;
}

@media (min-width: 768px) {
  .main-footer {
    padding: 2rem 0;
  }

  .main-footer__country {
    margin-bottom: 0;
    margin-left: 0.5rem;
  }

  .main-footer__language {
    margin-bottom: 0;
  }

  .main-footer__contact {
    display: none;
  }

  .footer-menu {
    display: flex;
    margin: 0 0 2rem;
  }

  .footer-menu__col {
    width: 176px;
    margin: 0 0.5rem;
  }

  .footer-menu__header {
    margin: 0 0 1rem;

    font-size: 0.75rem;
    text-transform: uppercase;
  }

  .footer-menu__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .footer-menu__item {
    margin: 0 0 0.75rem;

    font-size: 0.75rem;
    line-height: 1.33333333;
  }

  .footer-menu__item:last-child {
    margin: 0;
  }

  .footer-menu__link {
    color: #999999;
    text-decoration: none;
  }
}